---
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Left
ReflowComments: false
SortIncludes: true
...
