*.cache
*.db
*.dll
*.exe
*.filters
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.log
*.manifest
*.manifest.res
*.obj
*.opendb
*.opensdf
*.pdb
*.rc
*.res
*.sdf
*.stackdump
*.sublime-workspace
*.suo
*.tlog
*.tmp
*.unsuccessfulbuild
*.user
.tags*
bin/
obj/
