*.user
*.sdf
*.ipch
*.opensdf
*.suo
*.exe
*.dll
*.obj
*.tlog
*.manifest
*.manifest.res
*.lastbuildstate
*.log
*.rc
*.idb
*.pdb
*.ilk
*.res
*.cache
*.unsuccessfulbuild
.tags*
*.sublime-workspace
*.filters
